html {
    background-color: #f6fafafb;
    box-shadow: 20px 0px 0px 0px rgb(216, 216, 216);  
}

h1 {
    font-size: 34px;
    font-family: 'Overpass', sans-serif;
    color: solid black;
    text-align: center;
    line-height: 1;
    letter-spacing: 1px;
    text-shadow: 3px 3px 1px rgb(216, 216, 216);
    padding: 0px 0;
}

p, ol, li {
    font-size: 17px;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: 0px;
}

body {
    width: 1200px;
    margin: 0 auto;
    background-color: #f6f7f0;
    padding: 10px 20px 10px 20px;
    /* border: 5px solid rgb(173, 50, 167);*/
}
img {
    width: 1200px;
    display: block;
    margin: 0 auto;
    /*padding: 0px 0px 0px 0px;*/
    box-shadow: 10px 10px 15px 0px rgb(167, 210, 245);
}